<form class="ui form" method="POST" action="/dataset">
<p>
<label for="organization_id">Select an organization: </label>
<select class="ui dropdown" id='organization_id' name='organization_id' type='text'>
  <% organization_list.each do |x| %>
    <option value="<%= x['name']%>"> <%= x['name'] %> </option>
  <% end %>
</select>
</p>
<p>
  <label for="distribution_download_url">Download URL of the new dataset: </label>
  <input type="text" name="distribution_download_url">
</p>

<p>
  <input class="ui fluid large teal submit secondary button" type="submit" name="Add" value="Create New Dataset"/>

</p>

</form>

<hr>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Dataset Id</th>
      <th>Date</th>
      <th>Add Annotation</th>
      <th>Request Annotation</th>
      <th>TADA (status)</th>
    </tr>
  </thead>
  <% dataset_list.each do |dataset| %>
  <tr>
    <td>
      <% dataset_url = "http://mappingpedia.linkeddata.es/instance/dataset/dataset-#{dataset['id']}" %>
      <a href="instancedetails?instanceuri=<%= dataset_url %>"> <%= dataset['id'] %> </a>
    </td>
    <td>
      <%= dataset['modified_date'].gsub("Z^^http://www.w3.org/2001/XMLSchema#dateTime", "") %>
    </td>
    <td>
      <a href="annotations?datasetid=<%=dataset['id']%>">Add Annotation</a>
    </td>
    <td>
      <a href="requests?datasetid=<%= dataset['id'] %>">Request Annotation</a>
    </td>
    <td>
      <%= dataset['status'] %>
    </td>
  </tr>
<% end %>
</table>
