

<img src="/home.png" class="icon" alt="">

<h1>New Request</h1>
<form class="ui form" action="request" method="POST">
  <div class="field">
    <label>Request Description</label>
    <input type="text" name="description" placeholder="Enter the request description here "/>
  </div>
  <div class="field">
    <label>Dataset ID</label>
    <% if defined?(datasetid)  %>
      <input type="text" name="datasetid" value="<%= datasetid %>" placeholder="Enter the dataset ID"/>
    <% else %>
      <input type="text" name="datasetid" placeholder="Enter the dataset ID"/>
    <% end %>

  </div>
  <div class="field">
    <label>Request Budget</label>
    <input type="text" name="requestbudget" placeholder="Enter the budget for this request"/>
  </div>
  <input class="ui fluid large teal submit secondary button" type="submit" name="Add" value="Create New Request"/>
</form>


<table class="ui celled table">
  <thead>
    <tr>
      <th>Requested Id</th>
      <th>Requested On</th>
      <th>Description</th>
      <th>Dataset ID</th>
      <th>View</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |request| %>
    <tr>
      <td><%= request["id"] %></td>
      <td><%= request["requestedOn"] %></td>
      <td><%= request["description"] %></td>
      <td><%= request["datasetId"] %></td>
      <td>View</td>
      <td>
        <a href="annotations?datasetid=<%=request["datasetId"]%>&requestid=<%=request["id"]%>">Answer Request</a>
      </td>
    </tr>
    <%end %>
  </tbody>

</table>
